.freezable-wrapper {
    /* Constrain the width and height for the sake of testing */
    max-height: 200px;
    max-width: 600px;
    overflow-y: auto;
    margin-bottom: 1rem;
}
.freezable {
    max-height: 50px;
    overflow-y: auto;

}

.freezable.fr-1 {
    /* Sticky row */
    tr:nth-child(1) th {
        background-color: red;
        position: sticky;
        top: 0;
    }
}

.freezable.fc-1 {
    tr > td:nth-child(1), th:nth-child(1) {
        background-color: green;
        position: sticky;
        left: 0;
    }
    tr > th:nth-child(1) {
        z-index: 9000;
        background-color: blue;
    }
}

.freezable.fc-2 {
    tr > td:nth-child(1), th:nth-child(1) {
        background-color: green;
        position: sticky;
        left: 0;
    }
    tr > th:nth-child(1) {
        z-index: 9000;
        background-color: blue;
    }

    tr > td:nth-child(2), th:nth-child(2) {
        background-color: green;
        position: sticky;
        left: 0;  /* PROBLEM! Won't work without fixed widths. Can't use 0, but need to offset by column 1's width :( */
    }
    tr > th:nth-child(2) {
        z-index: 9000;
        background-color: blue;
    }
}

.freezable.fc-2.fixed {
    tr > td:nth-child(1), th:nth-child(1) {
        background-color: green;
        position: sticky;
        left: 0;
    }
    tr > th:nth-child(1) {
        z-index: 9000;
        background-color: blue;
    }

    tr > td:nth-child(2), th:nth-child(2) {
        background-color: green;
        position: sticky;
        left: 100px;  /* PROBLEM! It works, but the widths need to be constant :( */
    }
    tr > th:nth-child(2) {
        z-index: 9000;
        background-color: blue;
        left: 100px;
    }
}


* {
    box-sizing: border-box;
}


table {
    border-collapse: collapse;
}

td {
    min-width: 100px;
}

th {
    min-width: 100px;
}

.fixed td, .fixed tr {
    width: 100px !important;
}